# Godot 4+ specific ignores
.godot/
/android/
.vscode
data
cache
data_old
docs/hooks
tools/var/out
tools/var/var
var.zip
/local_assets/
/dist/
/.release_staging/
.venv
__pycache__/
*.patch
var
/.local/
